<!DOCTYPE html>
<html>
<head>
    <title>Cyber_Ghost v23.0</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="scanline"></div>
    <div id="terminal">
        <div class="jini-msg">[JINI]: System Live. Welcome, Ghost.</div>
        <div id="output"></div>
        <div class="input-area">
            <span>Ghost@Terminal:~$</span>
            <input type="text" id="cmdInput" autofocus autocomplete="off">
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
